.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
**/*.map
.gitignore
package-lock.json
tsconfig.json
tslint.json
docs
.github
asciiflow2/js-lib
asciiflow2/closure-compiler.jar
asciiflow2/compile.sh
node_modules